/DESIGN.md
/encryptor.exe
/encryptor.exe~
/encryptor-api.exe
/test/
test/
node_modules/
/node_modules/
test_folder/

web/

test_folder/Report_WAF.xlsx
test_folder/data.json
test_folder/test1.txt
test_folder/test2.txt
test_folder/Web Attack.pptx
encryptor_vault.db
.env
security.log
encryptor_vault.db
